@tailwind base;
@tailwind components;
@tailwind utilities;

/*カテゴリボタンがoverflowした際、横スクロールで表示させるためのスタイル*/
@layer utilities {
    .hidden-scrollbar {
        -ms-overflow-style: none; /* IE, Edge 対応 */
        scrollbar-width: none; /* Firefox 対応 */
    }
    .hidden-scrollbar::-webkit-scrollbar {
        /* Chrome, Safari 対応 */
        display: none;
    }
}

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
    code {
        display: block;
        overflow-x:scroll;
        background: #343434;
        color: #fff;
        padding: 30px;
        line-height: 2rem;
        border-radius: 5px;
        font-size: 16px;
        font-family: VL Gothic Font Family, serif;
    }
}

@layer Components {
    .custom-button {
        background: #eab670;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .custom-button:hover {
        background: #945908;
    }
    .custom-button:active span::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        margin-top: -50px;
        margin-left: 50px;
        content: '';
        background: aquamarine;
        border-radius: 100%;
        opacity: 0;
        animation: ripple 0.3s 1 ease-out;
    }
}

@keyframes ripple {
    0% {
        opacity: 1;
        transform: scale(0.0);
    }
    100% {
        opacity: 0;
        transform: scale(1.0);
    }
}
