@tailwind base;
@tailwind components;
@tailwind utilities;

/*カテゴリボタンがoverflowした際、横スクロールで表示させるためのスタイル*/
@layer utilities {
    .hidden-scrollbar {
        -ms-overflow-style: none; /* IE, Edge 対応 */
        scrollbar-width: none; /* Firefox 対応 */
    }
    .hidden-scrollbar::-webkit-scrollbar {
        /* Chrome, Safari 対応 */
        display: none;
    }
    .toc-card {
        width: 13rem;
        height: 30vh;
        margin: 1rem;
        text-align: left;
        color: inherit;
        border: 2px solid #eaeaea;
        border-radius: 0.25rem;
        transition: color 0.15s ease, border-color 0.15s ease;
        max-width: 300px;
    }
    .top-button {
        border: 2px solid #000;
        border-radius: 0;
        background: #F5F5F5;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        position: relative;
        padding: 6px 24px;

    }
    .top-button:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 100%;
        content: '';
        -webkit-transition: all .3s;
        transition: all .3s;
        transform: translateX(0) translateY(0);
        border-radius: 0 50% 50% 0;
        background: linear-gradient(to top, rgb(188, 212, 220), #2C3C5B);

    }
    .top-button:hover:before {
        font-weight: bold;
        line-height: 30px;
        width: 30px;
        height: 30px;
        content: '→';
        transform: translateX(500%);

        color: #fff;
        border-radius: 50%;
    }
    .aspect-ratio-square {
        position: relative;
    }
    .rotate45deg {
        rotate: 45deg;
    }
}

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
        background: #F5F5F5;
    }
    code {
        display: block;
        overflow-x:scroll;
        background: #343434;
        padding: 30px;
    }
    * {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
}
